<h3 class="text-center fs-3">Your Dashboard</h3>

<div>
    <h3>Books Searched</h3>
    <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Id</BSTD>
                    <BSTD>BookName</BSTD>
                    <BSTD>BookAuthor</BSTD>
                    <BSTD>BookPublisher</BSTD>
                    <BSTD>BookCategory</BSTD>
                </BSTR>
            </BSTHead>
    </BSTable>
</div>

<div>
    <h3>Books Rented</h3>
</div>

@code 
{
    public List<SearchHistory>? SearchHistories { get; set; }
}
