<h3 class="text-center">Admin Login</h3>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="border rounded p-4 w-50">
        <EditForm FormName="UserLogin" Model="addUser" OnSubmit="ValidateUser">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="username" class="form-label fw-bold">Username:</label>
                <InputText class="form-control" type="text" id="username" @bind-Value=addUser.username placeholder="Enter the Username" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Password:</label>
                <InputText class="form-control" type="password" id="password" @bind-Value=addUser.password placeholder="Enter the Password" />
            </div>
            <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary" type="button" @onclick="() => OnCancel.InvokeAsync()">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code
{
    public AddUser addUser { get; set; } = new();

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private void ValidateUser()
    {

    }
}