@page "/student"
@layout StudentLayout
@inject UserStateManagementService _userStateManagement
@inject NavigationManager navigator

<CascadingValue Value="_userStateManagement">
    @if(_userStateManagement.isLoggedIn)
    {
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark h-100">
                    <StudentSidebar LogOut="LogOut" OnSectionChanged="HandleSectionChanged" CurrentSection="@currentSection" username="@_userStateManagement.username"/>
                </div>
                <div class="col-md-9 col-lg-10 py-3">
                    @if (sectionComponents.TryGetValue(currentSection, out var componentType))
                    {
                        <DynamicComponent Type="componentType" />
                    }
                </div>
            </div>
        </div>
    }
</CascadingValue>


@code 
{
    private string currentSection = "Home";
    private readonly Dictionary<string, Type> sectionComponents = new()
    {
        { "Home", typeof(StudentDashboard) },
        { "Search book", typeof(SearchForBooks) },
        { "Rent book", typeof(RentBook) }
    };

    private void HandleSectionChanged(string section)
    {
        currentSection = section;
    }

    private void LogOut(bool isLogout)
    {
        if (isLogout)
        {
            navigator.NavigateTo("/");
            _userStateManagement.clear();
        }
    }
}
