@page "/student"
@layout StudentLayout
@inject UserStateManagementService _userStateManagement
@inject NavigationManager navigator

<CascadingValue Value="_userStateManagement">
    @if(_userStateManagement.isLoggedIn)
    {
        <div class="d-flex flex-row text-center justify-content-evenly">
            <h3>Welcome @_userStateManagement.username</h3>
            <button class="btn btn-primary" style="width:5%;float:right;margin-top:-1.5rem;">Logout</button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-lg-2 bg-light p-0">
                    <StudentSidebar OnSectionChanged="HandleSectionChanged" CurrentSection="@currentSection" username="@_userStateManagement.username"/>
                </div>
                <div class="col-md-9 col-lg-10 py-3">
                    @if (sectionComponents.TryGetValue(currentSection, out var componentType))
                    {
                        <DynamicComponent Type="componentType" />
                    }
                </div>
            </div>
        </div>
    }
</CascadingValue>


@code 
{
    private string currentSection = "Home";
    private readonly Dictionary<string, Type> sectionComponents = new()
    {
        { "Search book", typeof(SearchBooks) },
        { "Rent book", typeof(RentBook) }
    };

    private void HandleSectionChanged(string section)
    {
        currentSection = section;
    }
}
