@inject NavigationManager Navigator

<BSNav Class="container-fluid d-flex align-items-center">
        <BSNavbarBrand>
            <img class="logo" src="Images/logo_lib.svg" alt="forecastr logo">
        </BSNavbarBrand>
        <div class="d-flex flex-row mx-auto">
            <NavLink href="/" Class="text-white nav-item nav-link" @onclick="NavigateToHome">Home</NavLink>
            <NavLink href="#" Class="text-white nav-item nav-link">About</NavLink>
            <NavLink href="#" Class="text-white nav-item nav-link">Contact</NavLink>
        </div>
</BSNav>


<style>
    .logo
    {
        width: 60px;
        height: 40px;
    }
</style>

@code
{
    private void NavigateToHome()
    {
        Navigator.NavigateTo("/", forceLoad: true);
    }
}