<BSNav Class="container-fluid d-flex align-items-center">
        <BSNavbarBrand>
            <img class="logo" src="Images/logo_lib.svg" alt="forecastr logo">
        </BSNavbarBrand>
        <div class="d-flex flex-row mx-auto">
            <BSNavItem Url="/" Class="text-white">Home</BSNavItem>
            <BSNavItem Url="#" Class="text-white">About</BSNavItem>
            <BSNavItem Url="#" Class="text-white">Contact</BSNavItem>
        </div>
</BSNav>


<style>
    .logo
    {
        width: 60px;
        height: 40px;
    }
</style>