@code 
{
    [Parameter]
    public EventCallback<string> OnSectionChanged { get; set; }

    [Parameter]
    public string CurrentSection { get; set; } = null!;

    private async Task NavigateToSection(string section)
    {
        await OnSectionChanged.InvokeAsync(section);
    }

    private string GetNavLinkClass(string section)
    {
        return CurrentSection == section ? "nav-link active" : "nav-link";
    }
}

<div class="d-flex flex-column flex-grow-1 p-3 bg-light" style="width: 280px;">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2 bg-black" width="40" height="32">
            <use xlink:href=""></use>
        </svg>
        <span class="fs-4">Library</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <div class='@GetNavLinkClass("Home")' @onclick='() => NavigateToSection("Home")'>
                Home
            </div>
        </li>
        <li>
            <div class='@GetNavLinkClass("Search book")' @onclick='() => NavigateToSection("Search book")'>
                Search a book
            </div>
        </li>
        <li>
            <div class='@GetNavLinkClass("Rent book")' @onclick='() => NavigateToSection("Rent book")'>
                Rent a book
            </div>
        </li>
    </ul>
    <BSDropdown>
        <Toggler><BSToggle IsButton="true" Color="BSColor.Primary" Class="rounded-circle" width="30px" height="30px%"><img src="/Images/user.png"/></BSToggle></Toggler>
        <Content>
            <BSDropdownItem>Account</BSDropdownItem>
            <BSDropdownItem>Settings</BSDropdownItem>
            <BSDropdownItem>Logout</BSDropdownItem>
        </Content>
    </BSDropdown>
</div>
